[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "*"
django-crispy-forms = "*"
fontawesomefree = "*"
python-dotenv = "*"
Django = "==3.2"
Pillow = "*"
django-tailwind = "*"
mutagen = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
slugify = "*"

[dev-packages]

[requires]
python_version = "3.10"
