{% extends 'base.html' %} {% block content %} {% load static %}
{% load crispy_forms_tags %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<div class="container">
    <div class="form-control" style="margin-top:3em">
        <h3>Oni Music</h3>
<br>
        <form action="{% url 'login' %}" method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in" class="btn btn-primary"></p>
         </form>
         <p><a href="{% url "password_reset" %}" style="color: black">Forgotten your password?</a></
    p>
    </div>
</div>
{% endblock %}
