{% extends "base.html" %} {% block content %} {% load static %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<div class="flex-container h-screen">

    <div  style='padding:2em' class="form bg-white ">
  <h1>Password changed</h1>
  <p>Your password has been successfully changed.</p>
  </div>
</div>
{% endblock %}
