{% extends "base.html" %}

{% block content %}
{% load static %}

<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<div class="text-2xl py-4" style="text-align: center">Reset your password</div>

<div class="flex-container h-screen">
<img style=" width: 75px" src="{% static 'pages/images/email.png'%}" alt="">
  <form  action="{% url 'login' %}" method="post">
 <p>We've emailed you instructions for setting your password.</p>
 <p>If you don't receive an email, please make sure you'e entered
the address you registered with.</p>
<p>Try again?  <a href="{% url "password_reset" %}" style="color: black">Forgotten your password?</a></p>
</div>
{% endblock %}
