{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<div class="flex-container ">
  <div style='padding:2em' class="form bg-white ">
    <div class="text-2xl py-4" style="text-align: center">Change your password</div>
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <p><input class='btn btn-primary' type="submit" value="Change"></p>
    </form>
  </div>
</div>
{% endblock %}
