{% extends 'base.html' %} {% block content %}{% load static %}

<div class="flex-container">
  <div class="mt-10 font-semibold text-9xl">About Us</div>
</div>

  <div class="flex-container">

  </div>
  <div class="flex-container">
    <div  style='padding:2em' class="form bg-white ">
    <div><p>We hope you like oni music.com and we hope you'll be one of oni music supporters because it helps us out! 🙂
  Contributions go towards the servers and maintenance costs, as well as the continued development of oni music free online tools and free background music library.
  Thanks for considering supporting oni music!</p></div>


  </div>
  </div>
  <div class="flex-container">
    <div  style='padding:2em' class="form bg-white ">
    <div><p>How Does Oni Music Work?
    Every day, millions of people around the world listen to different music. It s all about giving people what they need.</p>
    </div>

    </div>
  </div>


{% endblock content %}
