{% extends 'base.html' %} {% block content %}{% load static %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  src="https://kit.fontawesome.com/351e8914ed.js"
  crossorigin="anonymous"
></script>

<div class="hero"><p>Categories page</p></div>
{{ gen}} {% for song in category_songs %}

<div>{{song.name}}</div>
<img
  src="{{ song.song_img.url}}"
  class="img-responsive"
  width="200"
/>

<audio controls>
  <source src="{{ song.song_file.url }}" type="audio/mpeg" />
</audio>

{% endfor %}{% endblock content %}
