{% extends 'base.html' %} {% block content %}{% load static %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  src="https://kit.fontawesome.com/351e8914ed.js"
  crossorigin="anonymous"
></script>
<div class="hero"><p>Discover page</p></div>
<div class="flex-container">
    <div id="content">
      <form class='form-inline'>
        <div class="input-group">
          <input type='text' id='search' class="form-control search-form" placeholder="Search..">
          <span class="input-group-btn" >
            <button id="search-this"type="button" class="pull-right btn btn-default search-btn">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
  </div>
</div>

{% endblock content %}
