{% extends 'base.html' %} {% block content %}{% load static %}

<div class="hero"><p>Free Music page</p></div>

<div class="md:container md:mx-auto">
  <div class="flex-container">
    <!-- Genre List -->
    {% if categories %} {% for category in categories %}

    <div class="royalty">
      <a href="{% url 'single_category' category.slug %}">
        {{ category.name }}
        <img class="w-36 p-2" src="{{ category.category_img.url }}" />

      </a>
    </div>

    {% endfor %} {% endif %}
  </div>

</div>

{% endblock content %}
