{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'pages/css/genre.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/351e8914ed.js"
      crossorigin="anonymous"
    ></script>

    <h2 class="heading">Explore Genres</h2>
    <body>
        <div class="rows">
            <div class="column">
                {% for x in dataset %}
                {{ x.name }}
                {% endfor %}

          </div>
        </div>
    </body>
</html>
{% endblock content %}
