{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'pages/css/genre.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/351e8914ed.js"
    crossorigin="anonymous"
  ></script>

  <div class="flex-container">
    <div class="mt-10 text-2xl">Explore Genres</div>
  </div>
  <hr />
  <body>
    <div class="container">
      <div class="flex-container">
        {% for x in genre_list %}
        <div class="royalty">
          {{x.name}}
          <img src="{{x.icons.0.url}}" alt="" />
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
{% endblock content %}
