{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <script src="https://kit.fontawesome.com/351e8914ed.js" crossorigin="anonymous"></script> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="hero"><p>Welcome to <span class="text-primary colored">Oni Music</span></p></div>
    <div class="flex-container">
      <div ><div class="icon"><i style="height: 60px" class="fa-solid fa-music"></i></div>Find Recommendation<div class="icon"><a class="btn btn-primary" href="{% url 'discover' %}">Try out</a></div></div>
      <div><div class="icon"><i style="height: 60px" class="fa-solid fa-download"></i></div>Royalty Free Music<div class="icon"><a class="btn btn-primary" href="{% url 'freemusic' %}">Try out</a></div></div>
    </div>
    <div><p class="hero">Custom Playlist</p></div>
      <div class="container">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6fIVkafVqvn6hcp2aKjwb0?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>



  </body>
{%block scripts%}
<script src="{% static 'pages/scripts/app.js'%}"></script>
{%endblock scripts%}

</html>

{% endblock content %}
