{% load static %}
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <div class="clearfix">
    <a href="{% url 'home' %}"
      ><img
        class="logo"
        src="{% static 'pages/images/logo.png' %}"
        alt="cloud-forum"
        width="60"
    /></a>
    <ul>
      <li><a href="{% url 'free_music' %}">Free music</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'genre' %}">Explore Genre</a></li>

      {% if request.user.is_authenticated %}
      <li {% if section == 'dashboard' %} class='selected'{% endif %}>

       {% endif %}
       <span class="user" style="color:white">
       {% if request.user.is_authenticated %}
       Hello {{ request.user.first_name }},
       <a href="{% url 'logout' %}">Logout</a>
       {% else %}
       <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </ul>
  </div>

</nav>
