{% extends 'base.html' %} {% block content %}{% load static %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'pages/css/player.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  src="https://kit.fontawesome.com/351e8914ed.js"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/wavesurfer.js"></script>
<div class="hero"><p>Music Player</p></div>
<div class="flex-container">
  {% if songs %} {% for song in songs %}
  <div class="music">
    <div class="info">
      <h3>{{ song.name }}</h3>
      <div id="waveform"></div>
      <audio controls>
        <source src="{{ song.song_file.url }}" type="audio/mpeg" />
      </audio>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock content %}
