{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/351e8914ed.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <!-- <div class="players">
    <audio id="player2" preload="none" controls style="width: 450px;">
      <source
        src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_1MG.mp3"
        type="audio/mp3"
      />
    </audio>
  </div> -->
  <div class="lg:container lg:mx-auto">
    <div class="flex bg-white flex-column justify-center m-4">
      {% for song in songs %}
      <div class="m-6 flex flex-row">
        <img class="w-36" src="{{song.song_img.url}}" alt="" />
        <div class="m-4 flex flex-column">
          <div class="text-xl ml-4 mb-2">
            {{song.name}}
          </div>
          <audio style="" controls="" name="media">
            <source src="{{song.song_file.url}}" />
          </audio>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    // Get all <audio> elements.
    const audios = document.querySelectorAll("audio");

    // Pause all <audio> elements except for the one that started playing.
    function pauseOtherAudios({ target }) {
      for (const audio of audios) {
        if (audio !== target) {
          audio.pause();
        }
      }
    }

    // Listen for the 'play' event on all the <audio> elements.
    for (const audio of audios) {
      audio.addEventListener("play", pauseOtherAudios);
    }
  </script>
  <script>
    // You can use either a string for the player ID (i.e., `player`),
    // or `document.querySelector()` for any selector
    var player = new MediaElement("player", {
      pluginPath: "/path/to/shims/",
      success: function (mediaElement, originalNode) {
        // do things
      },
    });
  </script>
</body>
{% endblock content %}
