{% extends 'base.html' %} {% block content %}{% load static %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
  src="https://kit.fontawesome.com/351e8914ed.js"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/wavesurfer.js"></script>
<div class="hero">
  <p>single category view</p>
  {{category.name}}
</div>

<div class="flex-container">
  <!-- Genre List -->

  <div class="flex-container">
    <div class="royalty">
      {% for song in songs %}
      <div>
        <div class="icon">{{song.name}}</div>
        <img src="{{song.song_img.url}}" />
      </div>
      <div id="waveform"></div>
      <audio controls>
        <source src="{{ song.song_file.url }}" type="audio/mpeg" />
      </audio>
      {% endfor %}
    </div>
  </div>
</div>

{% block script %}

<script type="text/javascript">
  var path = "{{ song.song_file.url }}";
  var wavesurfer = WaveSurfer.create({
    container: "#waveform",
    scrollParent: true,
  });
  // wavesurfer.load("{{ song.song_file.url }}");
  console.log(path);
</script>
{% endblock script %} {% endblock content %}
