{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <script src="/path/to/dist/speed/speed.min.js"></script>
  <!-- Translation file for plugin (includes ALL languages available on player)-->
  <script src="/path/to/dist/speed/speed-i18n.js"></script>
  <link rel="stylesheet" href="/path/to/mediaelementplayer.min.css" />
  <link rel="stylesheet" href="/path/to/dist/speed/speed.min.css" />
  <link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<div class="lg:container lg:mx-auto h-screen">
  <div class="flex-container text-2xl m-6">
    {{category.name}}
  </div>
  <div class="flex flex-column justify-center m-4">
    {% for song in songs %}
    <div class="ml-4 mr-4 bg-white flex flex-row items-center">
      <img class="w-36 mr-4" src="{{song.song_img.url}}" alt="" />

      <audio class="audio mr-4" style="width: 100%;" controls="" name="media">
        <source
          onclick="myFunction(this.innerHTML)"
          src="{{song.song_file.url}}"
        />
      </audio>
    </div>
    <div class="block ml-4 mb-4 text-lg">
      {{song.name}}
    </div>

    {% endfor %}
  </div>
</div>
<script src="https://unpkg.com/wavesurfer.js"></script>

<script type="text/javascript">
  // Get all <audio> elements.
  const audios = document.querySelectorAll("audio");

  // Pause all <audio> elements except for the one that started playing.
  function pauseOtherAudios({ target }) {
    for (const audio of audios) {
      if (audio !== target) {
        audio.pause();
      }
    }
  }

  // Listen for the 'play' event on all the <audio> elements.
  for (const audio of audios) {
    audio.addEventListener("play", pauseOtherAudios);
  }
</script>

{% endblock content %}
