{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
  <div class="flex-container">
    <div style='padding:2em' class="bg-slate-100">

      <p class='text-2xl mb-4'>{{user.profile.user.username}}'s Favourites</p>
      <p>
        This is User saved songs.
      </p>
    </div>

  <div style='padding:2em' class='flex-container'>
    <table class="table table-hover" style="background-color: white;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cover Art</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Song</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% if new %}
        <div class="text-2xl">
          Your Uploads
        </div>
        {% for song in new %}
        <tr class="all" style="background-color: white;">
          <th scope="row">{{forloop.counter}}</th>
          <td class="pic"><img class="rounded" src="{{ song.song_img.url}}" width=80></td>
          <td>{{song.name}} <br>

          </td>

          <td>{{song.artist}}</td>

          <td>
            <audio controls controlsList = "noplaybackrate">
              <source src="{{ song.song_file.url }}" type="audio/mpeg">
            </audio>
          </td>
          <td>
            <div id="favourite-section"><a href="{% url 'favourite_add' song.id %}"
                    class="btn btn-outline-primary">Remove</a></div>

          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>


  </div>


</div>

</div>

<script type="text/javascript">
  // Get all <audio> elements.
  const audios = document.querySelectorAll("audio");

  // Pause all <audio> elements except for the one that started playing.
  function pauseOtherAudios({
    target
  }) {
    for (const audio of audios) {
      if (audio !== target) {
        audio.pause();
      }
    }
  }

  // Listen for the 'play' event on all the <audio> elements.
  for (const audio of audios) {
    audio.addEventListener("play", pauseOtherAudios);
  }
</script>
{% endblock %}
