{% extends 'base.html' %} {% block content %} {% load static %}
{% load crispy_forms_tags %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" />
<div class="flex-container  ">
    <div  style='padding:2em' class="form bg-white ">
    <div class="text-2xl py-4" style="text-align: center;">
      Create an account
    </div>
    <p>Please, sign up using the following form:</p>
    <form method="post">
      {{ user_form|crispy }} {% csrf_token %}
      <p>
        <input
          class="btn btn-primary"
          type="submit"
          value="Create my account"
        />
      </p>
    </form>
  </div>
</div>

{% endblock %}
