.heading {
  text-align: center;
  margin: 2em;
  font-family: sans-serif;
  font-size: 20px;

}

.rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
