* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
nav a {
  color: white;
}
.footer a {
  color: white;
}

a:hover {
  color: gray;
  text-decoration: none;
}

body {
  background-color: #ddd;
  height: 100%;
}

nav {
  background-color: #101827;
  padding: 7px;
}
nav ul {
  float: right;
  margin-right: 5px;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 0px;
}
nav ul li a {
  color: #fff;
  font-size: 15px;
}

/* Style the active/current link*/
nav a {
  color: #fff;
  font-size: 17px;
  margin: 20px;
}

.logo {
  margin-left: 0.6em;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.checkbtn {
  font-size: 30px;
  color: gray;
  float: right;
  display: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

#check {
  display: none;
}

/* main section */

.container {
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #101827;
  margin-top: 10px;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 2;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  color: white;
}

.flex-container {
  paddgin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.hero {
  font-size: 50px;
  text-align: center;
  margin: 1em;
}

.colored {
  font-weight: 600;
  font-style: normal;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

input-group-btn {
  max-width: 100px;
}

#search {
  border: 1px;
}

.search-btn {
  height: 36px;
  cursor: pointer;
  background-color: #fff;
  color: #669;
}

.royalty {
  text-align: center;
}

.royalty img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  nav a {
    margin: 10px;
  }
}

@media screen and (max-width: 969px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #151c2b;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
  nav input[type="text"] {
    display: none;
  }
}
