* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
.footer a {
  color: white;
}

a:hover {
  color: gray;
  text-decoration: none;
}

body {
  background-color: #ddd;
  height: 100%;
}

nav {
  background-color: #101827;
}

/* main section */

.container {
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #101827;
  margin-top: 10px;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 2;
}
.copyright {
  margin-top: 40px;
  text-align: center;
  color: white;
}

.flex-container {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.hero {
  font-size: 50px;
  text-align: center;
  margin: 1em;
}

.colored {
  font-weight: 600;
  font-style: normal;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

input-group-btn {
  max-width: 100px;
}

#search {
  border: 1px;
}

.search-btn {
  height: 36px;
  cursor: pointer;
  background-color: #fff;
  color: #669;
}

.royalty {
  text-align: center;
}

.royalty img:hover {
  cursor: pointer;
}

